<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30000">
    <setting id="verificar_no_ar" type="bool" label="30001" default="true"/>
    <setting id="mostrar_fora_do_ar" type="bool" label="30002" default="true" enable="eq(-1,true)"/>
    <setting id="sep1" type="lsep" label="30003"/>
  </category>
</settings>
